span.index
{
	position:relative;
	bottom:3px;
	height:20px;
	line-height:20px;
	vertical-align: bottom;
}

#player
{
	position:fixed;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.push {
	height: 40px;
}


.navbar
{
	border-radius: 0 !important;
}

body 
{
	padding:65px;
}

.logo
{
	text-align: center;
	/* padding: 5px 15px !important;*/
	padding: 0px;
	margin: 0px;
}

.logo > a {
	padding: 5px !important;
}

/* === POSTS TABLE === */

table.posts tr td.upvotes
{
	font-size:12pt;
	color: orange;
	padding-top:10px !important;
}

table.posts thead th 
{
	text-align: center;
}

table.posts
{
	width:100%;
}

table.posts tr:nth-child(odd) td
{
	position:relative;
	bottom:-10px;
}

table.posts tr:nth-child(even) td
{
	font-size: 12px;
	font-style: italic;
	text-align:left;
	padding-bottom:0px !important;
}

table.posts td
{
	padding:0px 5px 0px 5px;
}

td.upvotes
{
	width:10px;
}

td.link
{
	width:100%;
}

/* === Rank Number ==== */
table.posts td:first-child
{
	text-align:right;
}


/* === Upvote/Star === */
table.posts td.vote
{
	width:30px;
}

table.posts td.vote .count
{
	margin:5px 0 5px 0;
	text-align:center;
}

table.posts td.vote .count
{
	position:relative;
	top:2px;
}

table.posts td.vote
{
	position:relative;
	top:13px;
}

table.posts td
{
	font-size:16px;
}

.search_query
{
	text-decoration:none;
	border:0;
	padding:3px 28px 3px 10px !important;
	width:200px;
	color:white;
	background:url("/static/img/search-white.png") 95% 5px #3498DB no-repeat;

	border-radius: 7px !important;
}


.navbar-search
{
	line-height:20px;
	margin:13px 15px 0 0;
}

a { 
	cursor: pointer !important; 
}

.navigation {
	margin-top:20px;
}


/* ===== Comments ===== */

.comments
{
	margin-top:20px;
}

.comment
{
	background:#e2f6ff;
	width:98%;
	display:block;
	margin-top:20px;
	padding:2%;
	font-size:18px;
}

.comment .right
{
	float:left;
	text-align:justify;
	vertical-align:top;
	width:87%;
	padding:0;
	margin:0;
}

.comment .top
{
	display:block;
}

.comment .avatar-container
{
	border:0;
	float:left;
}

.comment .top .content
{
	width:100%;
	margin-left:3%;
}

.comment .bottom
{
	margin-left:6%;
}

.comment .bottom .author, .comment .bottom .time
{
	font-size:12px;
}

.clearfix
{
	clear:both;
}

.depth-1
{
	margin-left:7%;
	width:91%;
}

.depth-2
{
	margin-left:14%;
	width:84%;
}

.depth-3
{
	margin-left:21%;
	width:77%;
}

.depth-4
{
	margin-left:28%;
	width:70%;
}

.depth-5
{
	margin-left:35%;
	width:63%;
}

textarea.depth-0
{
	width:98%;
}

.comments-form
{
	margin-top:15px;
	display:none;
}

.comments-form button, .root-comment-form button
{
	margin:20px auto 10px auto !important;
	display:block;
}

.root-comment-form
{
	margin-top:15px;
}

.reply-link-container
{
	float:right;
	font-size:12px;
	margin-top:1%;
	margin-right:-5%;
	text-align:right;
	vertical-align:bottom;
}

.center, #login
{
	text-align:center;
}

table.submit
{
	width:100%;
}

table.submit tr:not(.submit) td:nth-child(1)
{
	width:15%;
}

table.submit tr td
{
	padding:10px;
}

table.submit tr td:nth-child(2)
{
	width:85%;
}

tr.title > td > input, tr.url > td > input, tr.description > td > textarea
{
	padding:7px;
	width:80%;
}

tr.submit td
{
	text-align:center;
	width:100%;
}

.yahoo.btn-primary {
  color: #ffffff;
  background-color: #7B0099;
}
.yahoo.btn-primary:hover,
.yahoo.btn-primary:focus,
.yahoo.btn-primary:active,
.yahoo.btn-primary.active,
.yahoo.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #963bac;
  border-color: #963bac;
}

.icon-google
{
	width:14px;
	height:21px;
	background:url('/static/img/google-g.png');
	float:left;
}

.icon-yahoo
{
	width:28px;
	height:21px;
	background:url('/static/img/yahoo-y.png');
	float:left;
}

.icon-aol
{
	width:24px;
	height:21px;
	background:url('/static/img/aol-triangle.png');
	float:left;
}

.icon-border
{
	height:21px;
	border-right:1px dotted #fff;
	float:left;
	margin:0 5px;
}

.login_btn
{
	margin:5px 5px;
}