span.index
{
	position:relative;
	bottom:0px;
	height:20px;
	line-height:20px;
	vertical-align: bottom;
}

#player
{
	position:fixed;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.push {
	height: 40px;
}


.navbar
{
	margin-top:25px;
}

.logo
{
	text-align: center;
	padding: 5px;
}

.navbar-search
{
	line-height:20px;
	margin:12px 15px 0 0;
}

/* === POSTS TABLE === */

table.posts tr td.upvotes
{
	font-size:12pt;
	color: orange;
	padding-top:10px !important;
}

table.posts thead th 
{
	text-align: center;
}

table.posts
{
	width:100%;
}

table.posts tr:nth-child(odd) td
{
	padding-bottom: -10px !important;
}
table.posts tr:nth-child(even) td
{
	font-size: 12px;
	font-style: italic;
	text-align:left;
	padding-bottom:10px !important;
}

table.posts td
{
	padding:0px 5px 0px 5px;
}

td.upvotes
{
	width:10px;
}

td.link
{
	width:100%;
}

/* === Rank Number ==== */
table.posts td:first-child
{
	text-align:right;
}


/* === Upvote/Star === */
table.posts td.vote
{
	width:30px;
}

table.posts td.vote .count
{
	margin:5px 0 5px 0;
	text-align:center;
}

table.posts td.vote .count
{
	position:relative;
	top:2px;
}

table.posts td.vote
{
	position:relative;
	top:6px;
}

.search-query
{
	text-decoration:none;
	border:0;
	padding:3px 28px 3px 10px !important;
	width:200px;
	color:white;
	background:url("/static/img/search-white.png") 95% 5px #3498DB no-repeat;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

