span.index
{
	position:relative;
	bottom:0px;
	height:20px;
	line-height:20px;
	vertical-align: bottom;
}

#player
{
	position:fixed;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.push {
	height: 40px;
}

table.posts
{
	width:100%;
}

table.posts td
{
	padding:10px;
}

/* === Rank Number ==== */
table.posts td:first-child
{
	text-align:right;
}

/* === Upvote/Star === */
table.posts td:nth-child(2)
{
	width:20px;
}

.navbar
{
	margin-top:25px;
}
