<html>
  <head>
    {% if title %}
    <title>{{title}} - CS50 project</title>
    {% else %}
    <title>CS50 project</title>
    {% endif %}
  </head>
  <body>
    <div>CS50 project:
        <a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('submit') }}">Submit</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>