<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Hi, {{g.user.nickname}}!</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Link</th>
            <th>Content</th>
            <th>Author ID</th>
            <th>Upvotes</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        <!-- posts is a Paginate object -->
        {% for post in posts.items %}
        <tr>
            <td>{{post.id}}
            <td>{{post.title}}</td>
            <td>{{post.song_url}}</td>
            <td>{{post.content}}</td>
            <td>{{post.author_id}}</td>
            <td>{{post.upvotes}}</td>
            <td>{{post.timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if posts.has_prev %}<a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} | 
{% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}

{% endblock %}