<!-- extend base layout -->
{% set active_page = 'login' %}
{% include "inner.html" %}



<script type="text/javascript">
$(function()
{

    $('.login_btn').on('click', function()
    {
        set_openid($(this).data('openid'), $(this).data('pr'));
    });

    function set_openid(openid, pr)
    {
        $('#openid').val(openid);
        $('#login').submit();
    }

});
</script>

<h1 class="center">Welcome!</h1>
<h4 class="center">Sign in using one of the services below</h4>
<form id="login" method="post" name="login">
    {{form.hidden_tag()}}

        <button class="login_btn btn btn-primary" data-pr='Google' data-openid='https://www.google.com/accounts/o8/id'><div class="icon-google"></div><div class="icon-border"></div>Login with Google</button>

        <button class="login_btn btn btn-primary yahoo" data-pr='Yahoo' data-openid='https://me.yahoo.com'><div class="icon-yahoo"></div><div class="icon-border"></div>Login with Yahoo</button>

        <button class="login_btn btn btn-primary" data-pr='AOL' data-openid='http://openid.aol.com'><div class="icon-aol"></div><div class="icon-border"></div>Login with AOL</button>

    <p>{{form.remember_me}} Remember Me</p>

    {{form.openid}}

</form>