<table class="posts">
    <tbody>
            <tr>
                <td class="vote">
                    <div class="vote_group">
                            <div class="upvote" id="group{{post.id}}">
                                <a {% if not g.user.is_authenticated() %}href="{{url_for('login')}}"{% endif %} class="upvote"></a>
                                <span class="count"></span>
                                <a {% if not g.user.is_authenticated() %}href="{{url_for('login')}}"{% endif %} class="star"></a>
                            </div>
                    </div>
                </td>
                
                <td class="link"><a href="{{post.song_url}}" target="_blank" class="{{ 'stratus ignore' if post.song_url.lower().find('soundcloud') != -1 else 'ignore' }}">{{post.title}}</a></td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="1">
                    <a href="{{url_for('user', nickname = post.author.nickname)}}">{{post.author.nickname}}</a> | 
                        <span id="time{{ post.id }}"><script type="text/javascript">$('#time{{ post.id }}').html(moment('{{ post.timestamp }}', 'X').fromNow());</script></span> | 
                    <a href="{{url_for('comments', post_id = post.id)}}">Comments ({{post.comments.count()}})</a>
                </td>
            </tr>
    </tbody>
</table>



<script type="text/javascript">

    $(function() {
        $('.vote_group #group{{post.id}}').upvote({id: {{ post.id }}, count: {{ post.upvotes.count() }}, upvoted: {{ post.is_upvoted_by(g.user.id) if g.user.is_authenticated() else 0 }}, starred: {{ post.is_starred_by(g.user.id) if g.user.is_authenticated() else 0 }}, callback: callback});
    });

</script>