<table class="posts">
    <tbody>
            <!-- posts is a Paginate object -->
            {% for post in posts.items %}
                <tr>
                    {% if not no_show_rank %}
                    <td class="rank"><span class="index">{{ ((posts.prev_num) * posts_per_page) + loop.index }}.</span></td>
                    {% endif %}
                    <td class="vote">
                        <div class="vote_group">
                            <div class="upvote" id="group{{post.id}}">
                                <a {% if not g.user %}href="{{url_for('login')}}"{% endif %} class="upvote"></a>
                                <span class="count"></span>
                                <a {% if not g.user %}href="{{url_for('login')}}"{% endif %} class="star"></a>
                            </div>
                        </div>
                    </td>
                    
                    <td class="link"><a href="{{post.song_url}}" class="{{ 'stratus' if post.song_url.lower().find('soundcloud') != -1 else 'ignore' }}">{{post.title}}</a></td>
                </tr>
                <tr>
                    <td colspan="{{ 1 if no_show_rank else 2 }}"></td>
                    <td colspan="1">
                        <a href="{{url_for('user', nickname = post.author.nickname)}}">{{post.author.nickname}}</a> | 
                        <span id="time{{ post.id }}"><script type="text/javascript">$('#time{{ post.id }}').html(moment('{{ post.timestamp }}', 'X').fromNow());</script></span> | 
                        <a href="{{url_for('comments', post_id = post.id)}}">Comments ({{post.comments.count()}})</a>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% for post in posts.items %}
    <script type="text/javascript">

        $(function() {
            $('.vote_group #group{{post.id}}').upvote({id: {{ post.id }}, count: {{ post.upvotes.count() }}, upvoted: {{ post.is_upvoted_by(g.user.id) if g.user else 0 }}, starred: {{ post.is_starred_by(g.user.id) if g.user else 0 }}, callback: callback});
        });

    </script>
{% endfor %}

{% if posts.has_prev or posts.has_next %}
    <div class="navigation">
    {% if posts.has_prev %}<a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} | 
    {% if posts.has_next %}<a class="next" href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}
    </div>
{% endif %}
