{% include "inner.html" %}


<!-- extend base layout -->
{% set active_page = 'submit' -%}
<script>
    $(function() {
        $('#submit_form').submit(function() {
            var postData = $('#submit_form').serializeArray();
            var formURL = '/submit';
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR) 
                {
                    var title = 'Submitted';
                    window.history.pushState("Updating URL to " + title, title, '/');
                    $('#block').html(data);
                },
                error: function(jqXHR, textStatus, errorThrown) 
                {
                    var title = 'Error';
                    window.history.pushState("Updating URL to " + title, title, '/submit');
                    $('#block').html(data);   
                }
            });
            return false;
        });
    });
    </script>
<h1>Submit a Song</h1>
<form id="submit_form" name="submit_form" method="post">
    {{form.hidden_tag()}}
    <table class="submit">
        <tr class="title">
            <td>Title</td>
            <td>{{form.title(value=title, placeholder="Song title...")}}</td>
        </tr>

        <tr class="url">
            <td>URL to Song</td>
            <td>{{form.song_url(value=url, placeholder="Song url...")}}</td>
        </tr>

        <tr class="description">
            <td>Description</td>
            <td>{{form.content(placeholder="Description (optional)...")}}</td>
        </tr>
     
    {% if form.errors and not hide_errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="alert alert-danger">{{ form[field_name].label }}: {{ error }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {{form.submitted_field}}
    <tr class="submit">
        <td colspan="2"><button type="submit">Submit</button></td>
    </tr>
</form>
