<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = 'user' -%}
{% block content %}

<div class="user-top-container">
    <div class="user-top">

        <h1>{{ user.nickname }}</h1>
        <div class="user-pic">
            <img class="avatar" src="{{ user.avatar(200) }}" />
        </div>

        <div class="stats">
            <table class="stats-table">
                <tr>
                    <td>Posts</td>
                    <td>{{ user.posts.count() }}</td>
                </tr>

                <tr>
                    <td>Upvotes</td>
                    <td>{{ user.num_upvotes() }}</td>
                </tr>

                <tr>
                    <td>Average Upvotes</td>
                    <td>
                        {% if user.posts.count() > 0 %}
                            {{ (user.num_upvotes()/user.posts.count())|round(2) }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Comments</td>
                    <td>{{ user.comments.count() }}</td>
                </tr>
            </table>
        </div>

    </div>
    <!-- /.user-top -->
</div>
<!-- /.user-top-container -->

<div class="user-bottom-container">
    <div class="user-bottom">
    {% include "posts.html" %}
    </div>
</div>

{% endblock %}