{% include "inner.html" %}

<!-- extend base layout -->
{% set active_page = 'user' -%}

<div class="user-top-container">
    <div class="user-top">

        <h1>{{ user.nickname }}</h1>
        <div class="user-pic">
            <img class="avatar" src="{{ user.avatar(200) }}" />
        </div>

        <div class="stats">
            <table class="stats-table">
                <tr>
                    <td><a href="{{url_for('user', nickname = user.nickname, page_name = 'posts')}}">Posts</a></td>
                    <td><a href="{{url_for('user', nickname = user.nickname, page_name = 'posts')}}">{{ user.posts.count() }}</a></td>
                </tr>


                <tr>
                    <td><a href="{{url_for('user', nickname = user.nickname, page_name = 'favorites')}}">Favorites</a></td>
                    <td><a href="{{url_for('user', nickname = user.nickname, page_name = 'favorites')}}">{{ user.stars.count() }}</a></td>
                </tr>

                <tr>
                    <td>Upvotes</td>
                    <td>{{ user.num_upvotes() }}</td>
                </tr>

                <tr>
                    <td>Average Upvotes</td>
                    <td>
                        {% if user.posts.count() > 0 %}
                            {{ (user.num_upvotes()/user.posts.count())|round(2) }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Comments</td>
                    <td>{{ user.comments.count() }}</td>
                </tr>
            </table>
        </div>

    </div>
    <!-- /.user-top -->
</div>
<!-- /.user-top-container -->

<div class="user-bottom-container">
    <div class="user-bottom">
        {% if page_name != 'none' %}
            <h3>{{ page_name.capitalize() }}</h3>
        {% endif %}

    {% include "posts.html" %}
    </div>
</div>
<div class="clearfix"></div>